<div class="card w-full bg-base-100 shadow-xl">

    <div  *ngIf="dataType === 'locale'" >
      <div class="card-body" *ngFor="let place of places()" >
        <h2 class="card-title">{{ place.name }}</h2>   
        <p >📍 Address: {{ place.address }}</p>
        <p >🏙️ City: {{ place.city }}</p>
        <p>🏙️ zipCode: {{ place.zipCode }}</p>
        <p>👥 Capacity: {{ place.capacity }}</p>
        <button class="btn btn-info"> EVENTS </button>
      </div>
    </div>
 
    <div  *ngIf="dataType === 'event'" >
      <div class="card-body" *ngFor="let event of events()">
        <h2 class="card-title">{{ event.name }}</h2>   
        <p>⏰ Time: {{ event.time}}</p>
        <p>🏙️ Locale: {{ event.locale }}</p>
        <p>📅 Date: {{ event.date | date }}</p>
        <p>💲 Price: {{ event.price | currency }}</p>
        <button class="btn btn-info"> manda invito </button>
      </div>
</div>
 
  <div  *ngIf="dataType === 'Company'">
  <div class="card-body"  *ngFor="let company of companies()" >
    <h2 class="card-title">{{ company.name }}</h2>   
    <p>⏰ Partita Iva: {{ company.PI}}</p>
    <p>⏰ Codice Univoco: {{ company.SDI}}</p>
    <p>⏰Regione Sociale: {{ company.regione_sociale}}</p>
    <p >📍 Address: {{ company.address }}</p>
    <p >🏙️ City: {{ company.city }}</p>
    <p>🏙️ zipCode: {{ company.zipCode }}</p>
    <p>🏙️ telefono: {{ company.phone }}</p>
    <p>🏙️ email: {{ company.email}}</p>
    
  </div>
</div>
  
</div>

