
<div class="flex  h-[calc(100vh-74px)] items-center justify-center overflow-auto max-w-screen flex-wrap bg-gray-100 p-4  ">

  
      <div class="flex gap-2 flex-wrap max-w-screen-lg "  *ngIf="dataType === 'locale'" >
          <div class="bg-white p-6 rounded-lg shadow-md w-full max-w-md flex-[2_2_0%]"  *ngFor="let place of places()" >
            <div class="flex justify-between">
              <h2 class="card-title">{{ place.name }}</h2>  
            <div class="card-actions justify-end">
            <button class="btn btn-circle">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="h-6 w-6" viewBox="0 0 24 24">
                <path d="M 10 2 L 9 3 L 3 3 L 3 5 L 4.109375 5 L 5.8925781 20.255859 L 5.8925781 20.263672 C 6.023602 21.250335 6.8803207 22 7.875 22 L 16.123047 22 C 17.117726 22 17.974445 21.250322 18.105469 20.263672 L 18.107422 20.255859 L 19.890625 5 L 21 5 L 21 3 L 15 3 L 14 2 L 10 2 z M 6.125 5 L 17.875 5 L 16.123047 20 L 7.875 20 L 6.125 5 z"></path>
                </svg>
            </button>
          </div>
            </div>
          <p >📍 Address: {{ place.address }}</p>
          <p >🏙️ City: {{ place.city }}</p>
          <p>🏙️ zipCode: {{ place.zipCode }}</p>
          <p>👥 Capacity: {{ place.capacity }}</p>
          <div class="card-actions justify-end">
          <button class="btn btn-info"> EVENTS </button>
        </div>
        </div>
      </div>
  
  
      <div class="flex gap-2 flex-wrap max-w-screen-lg" *ngIf="dataType === 'event'" >
        <div class="bg-white p-6 rounded-lg shadow-md w-full max-w-md flex-[2_2_0%] flex-col items-center min-w-fit" *ngFor="let event of events()">
          <div class="flex justify-between">
          <h2 class="card-title">{{ event.name }}</h2>
          <div class="card-actions justify-end">
            <button class="btn btn-circle">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="h-6 w-6" viewBox="0 0 24 24">
                <path d="M 10 2 L 9 3 L 3 3 L 3 5 L 4.109375 5 L 5.8925781 20.255859 L 5.8925781 20.263672 C 6.023602 21.250335 6.8803207 22 7.875 22 L 16.123047 22 C 17.117726 22 17.974445 21.250322 18.105469 20.263672 L 18.107422 20.255859 L 19.890625 5 L 21 5 L 21 3 L 15 3 L 14 2 L 10 2 z M 6.125 5 L 17.875 5 L 16.123047 20 L 7.875 20 L 6.125 5 z"></path>
                </svg>
            </button>
          </div>
        </div>
          <p>⏰ Time: {{ event.time}}</p>
          <p>🏙️ Locale: {{ event.locale }}</p>
          <p>📅 Date: {{ event.date | date }}</p>
          <p>💲 Price: {{ event.price | currency }}</p>
          <div class="card-actions justify-end">
          <button class="btn btn-info"> manda invito </button>
          </div>
        </div>
      </div>
   

    <div class="flex gap-2 flex-wrap max-w-screen-lg overflow-auto"  *ngIf="dataType === 'Company'">
      
      <div class="bg-white p-6 rounded-lg shadow-md w-full max-w-md flex-[2_2_0%]"  *ngFor="let company of companies()" >
        <div class="flex justify-between">
          <h2 class="card-title">{{ company.name }}</h2>  
        <div class="card-actions">
          <button (click)="deleteElement(company._id)" class="btn btn-circle">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="h-6 w-6" viewBox="0 0 24 24">
              <path d="M 10 2 L 9 3 L 3 3 L 3 5 L 4.109375 5 L 5.8925781 20.255859 L 5.8925781 20.263672 C 6.023602 21.250335 6.8803207 22 7.875 22 L 16.123047 22 C 17.117726 22 17.974445 21.250322 18.105469 20.263672 L 18.107422 20.255859 L 19.890625 5 L 21 5 L 21 3 L 15 3 L 14 2 L 10 2 z M 6.125 5 L 17.875 5 L 16.123047 20 L 7.875 20 L 6.125 5 z"></path>
              </svg>
          </button>
        </div>
         
      </div>
      <p>⏰ Partita Iva: {{ company.PI}}</p>
      <p>⏰ Codice Univoco: {{ company.SDI}}</p>
      <p>⏰Regione Sociale: {{ company.regione_sociale}}</p>
      <p >📍 Address: {{ company.address }}</p>
      <p >🏙️ City: {{ company.city }}</p>
      <p>🏙️ zipCode: {{ company.zipCode }}</p>
      <p>🏙️ telefono: {{ company.phone }}</p>
      <p>🏙️ email: {{ company.email}}</p>
      
    </div>
    </div>
  
</div>



