<div
  class="flex h-[calc(100vh-8rem)] items-center justify-center overflow-auto top-4 max-w-screen flex-wrap bg-[#001F54] p-2"
>
<div *ngIf="isLoading" class="flex justify-center">
  <span class="loading loading-dots loading-lg"></span>

</div>
  <div
    class="flex gap-2 flex-wrap max-w-screen-lg"
    *ngIf="dataType === 'locale'"
  >
  

    <div
      class="bg-white p-4 rounded-lg shadow-md w-full max-w-md flex-[2_2_0%] "
      [ngClass]="{ 'hidden': editedItemId() !== null && editedItemId() !== place._id }"
      *ngFor="let place of places(); trackBy: trackByPlace"
    >
      <form [formGroup]="placeForm" class="h-full flex flex-col justify-between">
        <div class="flex justify-between">
          <div class="card-actions">
            <button (click)="editElement(place._id)" class="btn btn-circle">
              <svg
                class="w-6 h-6 text-gray-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
                />
              </svg>
            </button>
          </div>

          <div>
            <h2
              *ngIf="!isEditingMode && editedItemId() !== place._id"
              class="card-title "
            >
              {{ place.name }}
          </h2>
            <input
              *ngIf="isEditingMode && editedItemId() === place._id"
              type="text"
              formControlName="name"
              class="input input-bordered w-full mb-4"
            />
          </div>
          <div class="card-actions">
            <button (click)="deleteElement(place._id)" class="btn btn-circle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                class="h-6 w-6"
                viewBox="0 0 24 24"
              >
                <path
                  d="M 10 2 L 9 3 L 3 3 L 3 5 L 4.109375 5 L 5.8925781 20.255859 L 5.8925781 20.263672 C 6.023602 21.250335 6.8803207 22 7.875 22 L 16.123047 22 C 17.117726 22 17.974445 21.250322 18.105469 20.263672 L 18.107422 20.255859 L 19.890625 5 L 21 5 L 21 3 L 15 3 L 14 2 L 10 2 z M 6.125 5 L 17.875 5 L 16.123047 20 L 7.875 20 L 6.125 5 z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        <div>
          <p
            *ngIf="!isEditingMode && editedItemId() !== place._id"
            class="card-title"
          >
            📍 Address: {{ place.address }}
          </p>
          <div
            *ngIf="isEditingMode && editedItemId() === place._id"
            class="flex"
          >
            <label>📍 Address:</label>
            <app-autocomplete
            *ngIf="placeControl"
            [control]="placeControl"
            [fetchSuggestions]="fetchAddressSuggestions"
            placeholder="Enter address"
            [displayField]="'display_name'"
            (optionSelected)="selectOption($event)"
          ></app-autocomplete>
          </div>
          <p
            *ngIf="!isEditingMode && editedItemId() !== place._id"
            class="card-title"
          >
            🏙️ City: {{ place.city }}
          </p>
          <div
            *ngIf="isEditingMode && editedItemId() === place._id"
            class="flex"
          >
            <label>🏙️ City:</label>
            <input
              type="text"
              formControlName="city"
              class="input input-ghost w-full mb-4"
            />
          </div>
          <p
            *ngIf="!isEditingMode && editedItemId() !== place._id"
            class="card-title"
          >
            🏙️ zipCode: {{ place.zipCode }}
          </p>
          <div
            *ngIf="isEditingMode && editedItemId() === place._id"
            class="flex"
          >
            <label>🏙️ zipCode:</label>
            <input
              type="text"
              formControlName="zipCode"
              class="input input-ghost w-full mb-4"
            />
          </div>
          <p
            *ngIf="!isEditingMode && editedItemId() !== place._id"
            class="card-title"
          >
            👥 Capacity: {{ place.capacity }}
          </p>
          <div
            *ngIf="isEditingMode && editedItemId() === place._id"
            class="flex"
          >
            <label>👥 Capacity:</label>
            <input
              type="number"
              formControlName="capacity"
              class="input input-ghost w-full mb-4"
            />
          </div>
        </div>
        <div class="card-actions justify-end ">
          <button
            *ngIf="isEditingMode && editedItemId() === place._id"
            (click)="cancel()"
            class="btn btn-info"
          >
            cancel
          </button>
          <button
            *ngIf="isEditingMode && editedItemId() === place._id"
            (click)="save()"
            class="btn btn-info"
          >
            save
          </button>
          <button
            *ngIf="!isEditingMode && editedItemId() !== place._id"
            class="btn btn-info "
            (click)="getEventsByPlace(place.name)"
          >
            EVENTS
          </button>
        </div>
      </form>
      
    </div>

  </div>

<!-- event -->
  <div
    class="flex gap-2 flex-wrap max-w-screen-lg"
    *ngIf="dataType === 'event'"
  >
      
      <div class="bg-white p-6 rounded-lg shadow-md w-full max-w-md flex-[2_2_0%] flex-col items-center min-w-fit"
      [ngClass]="{ 'hidden': editedItemId() !== null && editedItemId() !== event._id }"
      *ngFor="let event of events(); trackBy: trackByEvent"
    >
    
          <form  [formGroup]="eventForm">
            <div class="flex justify-between">
              <div class="card-actions">
                <button (click)="editElement(event._id)" class="btn btn-circle">
                  <svg
                    class="w-6 h-6 text-gray-800 dark:text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                  >
                    <path
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
                    />
                  </svg>
                </button>
              </div>
              <div>
                <h2
                  *ngIf="!isEditingMode && editedItemId() !== event._id"
                  class="card-title"
                >
                  {{ event.name }}
                </h2>
          <input
          *ngIf="isEditingMode && editedItemId() === event._id"
            type="text"
            formControlName="name"
            class="input input-ghost w-full mb-4"
          />
              </div>
              <div class="card-actions">
                <button (click)="deleteElement(event._id)" class="btn btn-circle">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    x="0px"
                    y="0px"
                    class="h-6 w-6"
                    viewBox="0 0 24 24"
                  >
                    <path
                      d="M 10 2 L 9 3 L 3 3 L 3 5 L 4.109375 5 L 5.8925781 20.255859 L 5.8925781 20.263672 C 6.023602 21.250335 6.8803207 22 7.875 22 L 16.123047 22 C 17.117726 22 17.974445 21.250322 18.105469 20.263672 L 18.107422 20.255859 L 19.890625 5 L 21 5 L 21 3 L 15 3 L 14 2 L 10 2 z M 6.125 5 L 17.875 5 L 16.123047 20 L 7.875 20 L 6.125 5 z"
                    ></path>
                  </svg>
                </button>
              </div>
            </div>

          <div >
            <p
            *ngIf="!isEditingMode && editedItemId() !== event._id"
            class="card-title"
          >
          ⏰ Time: {{ event.time }}
          </p>
          <div
            *ngIf="isEditingMode && editedItemId() === event._id"
            class="flex"
          >
            <label>⏰ Time:</label>
            <input
              type="time"
              formControlName="time"
              class="input input-ghost w-full mb-4"
            />
          </div>
          </div>
          <div>
            <p
              *ngIf="!isEditingMode && editedItemId() !== event._id"
              class="card-title"
            >
            🏙️ Locale: {{ event.locale }}
            </p>
            <div
            *ngIf="isEditingMode && editedItemId() === event._id"
            class="flex"
          >
            <label>🏙️ Locale: </label>
            <app-autocomplete
            class="inpu input-ghost"
                [control]= "eventControl"
                [fetchSuggestions]="fetchLocale"
                placeholder="Enter locale"
                [displayField]="'name'"
                (optionSelected)="selectLocale($event)"
            ></app-autocomplete>
            </div>
          </div>
          <div>
            <p
            *ngIf="!isEditingMode && editedItemId() !== event._id"
            class="card-title"
          >
          📅 Date: {{ event.date | date}}
          </p>
          <div
          *ngIf="isEditingMode && editedItemId() === event._id"
          class="flex"
        >
           <label>📅 Date: </label>
            <input
              type="date"
              formControlName="date"
              class="input input-ghost w-full mb-4"
            />
           </div>
          </div>
          <div>
            <p
            *ngIf="!isEditingMode && editedItemId() !== event._id"
            class="card-title"
          >
          💲 Price: {{ event.price | currency }}
          </p>
            <div *ngIf="!isEditingMode && editedItemId() === event._id" class="flex">
              <label>💲 Price: </label>
              <input
                type="text"
                formControlName="price"
                class="input input-ghost w-full mb-4"
              />
            </div>
          </div>
          <div class="card-actions justify-end">
            <button
              *ngIf="isEditingMode && editedItemId() === event._id"
              (click)="cancel()"
              class="btn btn-info"
            >
              cancel
            </button>
            <button
              *ngIf="isEditingMode && editedItemId() === event._id"
              (click)="save()"
              class="btn btn-info"
            >
              save
            </button>
            <button
              *ngIf="!isEditingMode && editedItemId() !== event._id"
              class="btn btn-info"
              routerLink="/guest-list"
            >
             manda invito
            </button>
          </div>
        </form>
        
      </div>
  
   </div>

  <div
    class="flex gap-2 flex-wrap max-w-screen-lg overflow-auto"
    *ngIf="dataType === 'Company'"
  >
    <div
      class="bg-white p-6 rounded-lg shadow-md w-full max-w-md flex-[2_2_0%]"
      *ngFor="let company of companies(); trackBy: trackByCompany"
    >
      <div class="flex justify-between">
        <div class="card-actions">
          <button (click)="editElement(company._id)" class="btn btn-circle">
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
              />
            </svg>
          </button>
        </div>
        <h2 class="card-title">{{ company.name }}</h2>
        <div class="card-actions">
          <button (click)="deleteElement(company._id)" class="btn btn-circle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              class="h-6 w-6"
              viewBox="0 0 24 24"
            >
              <path
                d="M 10 2 L 9 3 L 3 3 L 3 5 L 4.109375 5 L 5.8925781 20.255859 L 5.8925781 20.263672 C 6.023602 21.250335 6.8803207 22 7.875 22 L 16.123047 22 C 17.117726 22 17.974445 21.250322 18.105469 20.263672 L 18.107422 20.255859 L 19.890625 5 L 21 5 L 21 3 L 15 3 L 14 2 L 10 2 z M 6.125 5 L 17.875 5 L 16.123047 20 L 7.875 20 L 6.125 5 z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <p>⏰ Partita Iva: {{ company.PI }}</p>
      <p>⏰ Codice Univoco: {{ company.SDI }}</p>
      <p>⏰Regione Sociale: {{ company.regione_sociale }}</p>
      <p>📍 Address: {{ company.address }}</p>
      <p>🏙️ City: {{ company.city }}</p>
      <p>🏙️ zipCode: {{ company.zipCode }}</p>
      <p>🏙️ telefono: {{ company.phone }}</p>
      <p>🏙️ email: {{ company.email }}</p>
    </div>
  </div>

  <div
    class="flex gap-2 flex-wrap max-w-screen-lg"
    *ngIf="dataType === 'User' && !isEditingMode"
  >
    <div
      class="bg-white p-6 rounded-lg shadow-md w-full max-w-md flex-[2_2_0%] flex-col items-center min-w-fit"
      *ngFor="let user of users(); trackBy: trackByUser"
    >
      <div class="flex justify-between">
        <div class="card-actions">
          
        <h2 class="card-title">{{ user.name }}</h2>
        
      </div>
      <p>email: {{ user.email}}</p>
      <p>role: {{ user.role }}</p>
      
      </div>
  </div>
</div>

<div *ngIf="item && dataType === 'locale'">
  <div
      class="bg-white p-6 rounded-lg shadow-md w-full max-w-md flex-[2_2_0%]"
      [ngClass]="{ 'hidden': editedItemId() !== null && editedItemId() !== item._id }"
      
    >
      <form [formGroup]="placeForm">
        <div class="flex justify-between">
          <div class="card-actions">
            <button (click)="editElement(item._id)" class="btn btn-circle">
              <svg
                class="w-6 h-6 text-gray-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
                />
              </svg>
            </button>
          </div>

          <div>
            <h2
              *ngIf="!isEditingMode && editedItemId() !== item._id"
              class="card-title"
            >
              {{ item.name }}
            </h2>
            <input
              *ngIf="isEditingMode && editedItemId() === item._id"
              type="text"
              formControlName="name"
              class="input input-bordered w-full mb-4"
            />
          </div>
          <div class="card-actions">
            <button (click)="deleteElement(item._id)" class="btn btn-circle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                class="h-6 w-6"
                viewBox="0 0 24 24"
              >
                <path
                  d="M 10 2 L 9 3 L 3 3 L 3 5 L 4.109375 5 L 5.8925781 20.255859 L 5.8925781 20.263672 C 6.023602 21.250335 6.8803207 22 7.875 22 L 16.123047 22 C 17.117726 22 17.974445 21.250322 18.105469 20.263672 L 18.107422 20.255859 L 19.890625 5 L 21 5 L 21 3 L 15 3 L 14 2 L 10 2 z M 6.125 5 L 17.875 5 L 16.123047 20 L 7.875 20 L 6.125 5 z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        <div>
          <p
            *ngIf="!isEditingMode && editedItemId() !== item._id"
            class="card-title"
          >
            📍 Address: {{ item.address }}
          </p>
          <div
            *ngIf="isEditingMode && editedItemId() === item._id"
            class="flex"
          >
            <label>📍 Address:</label>
            <app-autocomplete
            *ngIf="placeControl"
            [control]="placeControl"
            [fetchSuggestions]="fetchAddressSuggestions"
            placeholder="Enter address"
            [displayField]="'display_name'"
            (optionSelected)="selectOption($event)"
          ></app-autocomplete>
          </div>
          <p
            *ngIf="!isEditingMode && editedItemId() !== item._id"
            class="card-title"
          >
            🏙️ City: {{ item.city }}
          </p>
          <div
            *ngIf="isEditingMode && editedItemId() === item._id"
            class="flex"
          >
            <label>🏙️ City:</label>
            <input
              type="text"
              formControlName="city"
              class="input input-ghost w-full mb-4"
            />
          </div>
          <p
            *ngIf="!isEditingMode && editedItemId() !== item._id"
            class="card-title"
          >
            🏙️ zipCode: {{ item.zipCode }}
          </p>
          <div
            *ngIf="isEditingMode && editedItemId() === item._id"
            class="flex"
          >
            <label>🏙️ zipCode:</label>
            <input
              type="text"
              formControlName="zipCode"
              class="input input-ghost w-full mb-4"
            />
          </div>
          <p
            *ngIf="!isEditingMode && editedItemId() !== item._id"
            class="card-title"
          >
            👥 Capacity: {{ item.capacity }}
          </p>
          <div
            *ngIf="isEditingMode && editedItemId() === item._id"
            class="flex"
          >
            <label>👥 Capacity:</label>
            <input
              type="number"
              formControlName="capacity"
              class="input input-ghost w-full mb-4"
            />
          </div>
        </div>
        <div class="card-actions justify-end">
          <button
            *ngIf="isEditingMode && editedItemId() === item._id"
            (click)="cancel()"
            class="btn btn-info"
          >
            cancel
          </button>
          <button
            *ngIf="isEditingMode && editedItemId() === item._id"
            (click)="save()"
            class="btn btn-info"
          >
            save
          </button>
          <button
            *ngIf="!isEditingMode && editedItemId() !== item._id"
            class="btn btn-info"
            (click)="getEventsByPlace(item.name)"
          >
            EVENTS
          </button>
        </div>
      </form>
      
    </div>

</div>
<div *ngIf="item && dataType === 'event'">
  <div class="bg-white p-4 rounded-lg shadow-md w-full max-w-fit top-2"
  [ngClass]="{ 'hidden': editedItemId() !== null && editedItemId() !== item._id }"
  
>

      <form  [formGroup]="eventForm">
        <div class="flex justify-between">
          <div class="card-actions">
            <button (click)="editElement(item._id)" class="btn btn-circle">
              <svg
                class="w-6 h-6 text-gray-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
                />
              </svg>
            </button>
          </div>
          <div>
            <h2
              *ngIf="!isEditingMode && editedItemId() !== item._id"
              class="card-title"
            >
              {{ item.name }}
            </h2>
      <input
      *ngIf="isEditingMode && editedItemId() === item._id"
        type="text"
        formControlName="name"
        class="input input-ghost w-full mb-4"
      />
          </div>
          <div class="card-actions">
            <button (click)="deleteElement(item._id)" class="btn btn-circle">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                class="h-6 w-6"
                viewBox="0 0 24 24"
              >
                <path
                  d="M 10 2 L 9 3 L 3 3 L 3 5 L 4.109375 5 L 5.8925781 20.255859 L 5.8925781 20.263672 C 6.023602 21.250335 6.8803207 22 7.875 22 L 16.123047 22 C 17.117726 22 17.974445 21.250322 18.105469 20.263672 L 18.107422 20.255859 L 19.890625 5 L 21 5 L 21 3 L 15 3 L 14 2 L 10 2 z M 6.125 5 L 17.875 5 L 16.123047 20 L 7.875 20 L 6.125 5 z"
                ></path>
              </svg>
            </button>
          </div>
        </div>

      <div >
        <p
        *ngIf="!isEditingMode && editedItemId() !== item._id"
        class="card-title"
      >
      ⏰ Time: {{ item.time }}
      </p>
      <div
        *ngIf="isEditingMode && editedItemId() === item._id"
        class="flex"
      >
        <label>⏰ Time:</label>
        <input
          type="time"
          formControlName="time"
          class="input input-ghost w-full mb-4"
        />
      </div>
      </div>
      <div>
        <p
          *ngIf="!isEditingMode && editedItemId() !== item._id"
          class="card-title"
        >
        🏙️ Locale: {{ item.locale }}
        </p>
        <div
        *ngIf="isEditingMode && editedItemId() === item._id"
        class="flex"
      >
        <label>🏙️ Locale: </label>
        <app-autocomplete
        class="inpu input-ghost"
            [control]= "eventControl"
            [fetchSuggestions]="fetchLocale"
            placeholder="Enter locale"
            [displayField]="'name'"
            (optionSelected)="selectLocale($event)"
        ></app-autocomplete>
        </div>
      </div>
      <div>
        <p
        *ngIf="!isEditingMode && editedItemId() !== item._id"
        class="card-title"
      >
      📅 Date: {{ item.date | date}}
      </p>
      <div
      *ngIf="isEditingMode && editedItemId() === item._id"
      class="flex"
    >
       <label>📅 Date: </label>
        <input
          type="date"
          formControlName="date"
          class="input input-ghost w-full mb-4"
        />
       </div>
      </div>
      <div>
        <p
        *ngIf="!isEditingMode && editedItemId() !== item._id"
        class="card-title"
      >
      💲 Price: {{ item.price | currency }}
      </p>
        <div *ngIf="!isEditingMode && editedItemId() === item._id" class="flex">
          <label>💲 Price: </label>
          <input
            type="text"
            formControlName="price"
            class="input input-ghost w-full mb-4"
          />
        </div>
      </div>
      <div class="card-actions justify-end">
        <button
          *ngIf="isEditingMode && editedItemId() === item._id"
          (click)="cancel()"
          class="btn btn-info"
        >
          cancel
        </button>
        <button
          *ngIf="isEditingMode && editedItemId() === item._id"
          (click)="save()"
          class="btn btn-info"
        >
          save
        </button>
        <button
          *ngIf="!isEditingMode && editedItemId() !== item._id"
          class="btn btn-info"
          routerLink="/guest-list"
        >
         manda invito
        </button>
      </div>
    </form>
    
  </div>

</div>

<div *ngIf="item && dataType === 'Company'">
  <div
  class="bg-white p-4 rounded-lg shadow-md w-full max-w-fit top-2"
 >
  <div class="flex justify-between">
    <div class="card-actions">
      <button (click)="editElement(item._id)" class="btn btn-circle">
        <svg
          class="w-6 h-6 text-gray-800 dark:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"
          />
        </svg>
      </button>
    </div>
    <h2 class="card-title">{{ item.name }}</h2>
    <div class="card-actions">
      <button (click)="deleteElement(item._id)" class="btn btn-circle">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          class="h-6 w-6"
          viewBox="0 0 24 24"
        >
          <path
            d="M 10 2 L 9 3 L 3 3 L 3 5 L 4.109375 5 L 5.8925781 20.255859 L 5.8925781 20.263672 C 6.023602 21.250335 6.8803207 22 7.875 22 L 16.123047 22 C 17.117726 22 17.974445 21.250322 18.105469 20.263672 L 18.107422 20.255859 L 19.890625 5 L 21 5 L 21 3 L 15 3 L 14 2 L 10 2 z M 6.125 5 L 17.875 5 L 16.123047 20 L 7.875 20 L 6.125 5 z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <p>⏰ Partita Iva: {{ item.PI }}</p>
  <p>⏰ Codice Univoco: {{ item.SDI }}</p>
  <p>⏰Regione Sociale: {{ item.regione_sociale }}</p>
  <p>📍 Address: {{ item.address }}</p>
  <p>🏙️ City: {{ item.city }}</p>
  <p>🏙️ zipCode: {{ item.zipCode }}</p>
  <p>🏙️ telefono: {{ item.phone }}</p>
  <p>🏙️ email: {{ item.email }}</p>
</div>
</div>
<div *ngIf="item && dataType === 'User' && !isEditingMode">
  <div class="bg-white p-6 rounded-lg shadow-md w-full max-w-md flex-[2_2_0%] flex-col items-center min-w-fit">

     
    <h2 class="card-title">{{ item.name || 'no name added' }}</h2>
   <p>email: {{ item.email}}</p>
   <p>role: {{ item.role }}</p>
   <p>verified: {{ item.verified ? 'Yes' : 'No' }}</p>
  
 </div>
</div>
</div>


