<div
  class="flex h-screen items-center justify-center overflow-auto max-w-screen flex-wrap bg-gray-100 p-4"
>
<zxing-scanner [enable]="scannerEnabled" (scanSuccess)="onCodeResult($event)"></zxing-scanner>

<div class="card bg-base-100 w-1/2 shadow-xl" [ngClass]="qrResultParsed.status === 'invited' ? 'bg-green-600' : 'bg-red-600'" *ngIf="!scannerEnabled">
  <div class="card-body">
   
    <strong>{{ guest.name }} {{ guest.surname }}</strong>
	<strong>{{ qrResultParsed.status }}</strong>

	<div class="card-actions justify-end">
  <button (click)="goToTheList(this.qrResultParsed.listId,this.qrResultParsed.guestId)" class="btn btn-outline"  >GO TO THE LIST</button>
  </div>
</div>

</div>