@if(status === "success"){
    <div class="flex justify-center items-center h-screen">
        <div class=" card bg-primary text-primary-content w-96">
            <div class="card-body">
            <h2 class="card-title">{{this.message}}</h2>
            <p>click the button</p>
            <div class="card-actions justify-end">
                <a routerLink="/login" class="btn">Login</a>
            </div>
            </div>
        </div>
    </div>
}@else{
    <div class="flex justify-center items-center h-screen">
        <div class=" card bg-error text-primary-content w-96">
            <div class="card-body">
            <h2 class="card-title">{{this.message}}</h2>
              <div class="card-actions justify-end">
                <a routerLink="/resetPWrequest" class="btn">resend the link</a>
            </div>
            </div>
        </div>
    </div>
}
